.colorX {
    background-color: rgb(19, 29, 232);
    color: white;
}

body, html {
    height: 100%;
    width: 100%;
}


.float-end {
   text-align: right; 
}

header {
    width: 100%;
    background-color: #000;
}

.home-back {
    background-image: url("./oleg.png");
}

footer {
    background-color: #000;
    color: aliceblue;
}

footer div div a {
    text-decoration: none;
    color: #fff;
}

#navbarNav a {
    color: aliceblue;
    font-weight: 500;
}

#navbarNav a:hover {
    color: white;
    border-bottom: 1px solid #fff;
    transition: border-bottom 0.3s ease-in-out;
}

.home {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

.home-img {
    width: 80%;
}

.service h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contact {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact div {
    width: 100%;
    max-width: 500px;
}