<footer class="container-fluid mt-5">
  <div class="row p-5 text-center">
    <div class="col-md-6 col-sm-12">
      <p class="h5">Contact Us</p>
      <p>+91 9999999999</br>your@gmail.com</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <p><a href="#">Privacy Policy</a></p>
      <p><a href="#">Terms & Condition</a></p>
    </div>
  </div>
  <p class="text-center pb-5">Copyright &copy; 2024 My Website. All rights reserved.</p>
</footer>
<script src="static/assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/js/main.js"></script>
</body>
</html>