<footer class="container-fluid mt-5">
  <div class="row p-5 text-center">
    <div class="col-md-6 col-sm-12">
      <p><span class="h6">Contact US - </span>+91 9999999999 <span class="text-secondary">|</span> xyz.raya@gmail.com</p>
    </div>
    <div class="col-md-6 col-sm-12">
      <p class="float-end">
        <a href="#">Privacy Policy</a>
        <span class="text-secondary">|</span>
        <a href="#">Terms & Condition</a>
      </p>
    </div>
  </div>
  <p class="text-center pb-5">Copyright &copy; 2024 RAYA. All rights reserved.</p>
</footer>
<script src="static/assets/dist/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/js/main.js"></script>
</body>
</html>