<footer class="container-fluid mt-5">
  <div class="row p-5">
    <di class="col-md-6 col-sm-12">
      <p class="h5">Contact Us</p>
      <p>+91 9999999999</p>
      <p>myweb@gmail.com</p>
      <p></p>
    </di>
    <div class="col-md-6 col-sm-12">
      <p class="h5">Quick Link</p>
      <p><a href="#home">Home</a></p>
      <p><a href="#services">Services</a></p>
      <p><a href="#contact-us">Contact Us</a></p>
      <p><a href="#about-us">About Us</a></p>
      <p><a href="#">Privacy Policy</a></p>
      <p><a href="#">Terms & Condition</a></p>
    </div>
  </div>
  <p class="text-center">Copyright &copy; 2024 My Website. All rights reserved.</p>
</footer>
<script src="assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>