{% include "header.html" %}
<main class="container">
    <!-- Home -->
     <div class="home" id="Home">
        <div class="row">
            <div class="col-md-6 home-text">
                <p class="h4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat accusamus veniam, possimus maxime rem, sed recusandae veritatis perspiciatis maiores, suscipit quisquam quis voluptate numquam cupiditate fuga debitis est explicabo </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="static/home.png" alt="home" class="home-img">
            </div>
        </div>
     </div>
    <!-- Home End -->

    <!-- Service -->
    <div class="service" id="service">
        <h3 class="text-center mt-5">OUR SERVICES</h3>
        <div class="row mt-5 p-2">
            <div class="col-md-3 service-card mx-auto text-center border rounded shadow">
                <img src="static/web.png" alt="web" class="mt-5">
                <h5>Web Development</h5>
                <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat accusamus veniam, possimus maxime rem, sed recusandae veritatis perspiciatis maiores, suscipit quisquam quis voluptate numquam cupiditate fuga debitis est explicabo </p><br>
            </div>
            <div class="col-md-3 service-card mx-auto text-center border rounded shadow">
                <img src="static/android.png" alt="android" class="mt-5">
                <h5>Android/iOS Development</h5>
                <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat accusamus veniam, possimus maxime rem, sed recusandae veritatis perspiciatis maiores, suscipit quisquam quis voluptate numquam cupiditate fuga debitis est explicabo </p><br>
            </div>
            <div class="col-md-3 service-card mx-auto text-center border rounded shadow">
                <img src="static/graphic.png" alt="graphic" class="mt-5">
                <h5>Graphics Design</h5>
                <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat accusamus veniam, possimus maxime rem, sed recusandae veritatis perspiciatis maiores, suscipit quisquam quis voluptate numquam cupiditate fuga debitis est explicabo </p><br>
            </div>
        </div>
     </div>
    <!-- Service End -->

    <!-- Testimonial -->
    <div class="testimonial" id="testimonial">
        <h3 class="text-center mt-5">TESTIMONIAL</h3>
        <div class="row mt-5 p-2">
            <div class="col-md-3 testimonial-card mx-auto text-center border rounded shadow">
                <img src="static/profile.png" alt="profile" class="mt-5">
                <h5 class="">Raghav</h5>
                <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat accusamus veniam, possimus maxime rem, sed recusandae veritatis perspiciatis maiores, suscipit quisquam quis voluptate numquam cupiditate fuga debitis est explicabo </p><br>
            </div>
            <div class="col-md-3 testimonial-card mx-auto text-center border rounded shadow">
                <img src="static/profile.png" alt="profile" class="mt-5">
                <h5>Dev</h5>
                <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat accusamus veniam, possimus maxime rem, sed recusandae veritatis perspiciatis maiores, suscipit quisquam quis voluptate numquam cupiditate fuga debitis est explicabo </p><br>
            </div>
            <div class="col-md-3 testimonial-card mx-auto text-center border rounded shadow">
                <img src="static/profile.png" alt="profile" class="mt-5">
                <h5>Jay Yadav</h5>
                <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat accusamus veniam, possimus maxime rem, sed recusandae veritatis perspiciatis maiores, suscipit quisquam quis voluptate numquam cupiditate fuga debitis est explicabo </p><br>
            </div>
        </div>
     </div>
    <!-- Testimonial End -->

    <!-- About -->
    <div class="about" id="about">
        <h3 class="text-center mt-5">ABOUT US</h3>
        <div class="row mt-5 p-2">
            <div class="col-md-6 testimonial-card mx-auto text-center border rounded shadow">
                <p class="mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat accusamus veniam, possimus maxime rem, sed recusandae veritatis perspiciatis maiores, suscipit quisquam quis voluptate numquam cupiditate fuga debitis est explicabo Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat accusamus veniam, possimus maxime rem, sed recusandae veritatis perspiciatis maiores, suscipit quisquam quis voluptate numquam cupiditate fuga debitis est explicabo Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugiat accusamus veniam, possimus maxime rem, sed recusandae veritatis perspiciatis maiores, suscipit quisquam quis voluptate numquam cupiditate fuga debitis est explicabo </p><br>
            </div>
        </div>
     </div>
    <!-- About End -->

    <!-- Contact US -->
    <div class="contact" id="contact">
        <div class="row mt-5 border rounded shadow p-2">
            <form method="post" action="#" class="mt-3">
                <h2 class="text-center">CONTACT US</h2>
                <div class="d-flex mt-5 justify-content-center">
                    <div class="col-md-6 col-sm-12">
                        <div class="mb-3">
                            <input type="text" id="name" class="form-control" placeholder="Your Name">
                        </div>
                        <div class="mb-3">
                            <input type="email" id="email" class="form-control" placeholder="Your Email">
                        </div>
                        <div class="mb-3">
                            <input type="text" id="subject" class="form-control" placeholder="Subject">
                        </div>
                        <div class="mb-3">
                            <textarea name="message" id="message" class="form-control" placeholder="Message"></textarea>
                        </div>
                        <div class="mb-3">
                            <button type="submit" class="form-control btn btn-dark">Submit</button>
                        </div>
                    </div>
                </div>
                <br>
            </form>
        </div>
    </div>
    <!-- Social Media -->
    <div class="social-media-icons text-center">
        <a href="#" class="social-icon" target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="social-icon" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="social-icon" target="_blank">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="#" class="social-icon" target="_blank">
            <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://www.youtube.com/@developerRanjeet" class="social-icon" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
    <!-- Social Media End -->
    <!-- Contact Us End -->
</main>
{% include "footer.html" %}